#body {
    width: 450px; 
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.obody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.navbar-brand {
    margin-left: 10px;
}

#username, #password {
    width: 300px;
}

center {
    margin: 10px 25px 0px 25px;
}

#btn {
    background-color: rgb(128, 237, 128);
}